.news{
    background-color:rgb(65, 66, 68);
    width: 1020px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    

    
  

}
 

img{

    height: 500px;
    width: 500px;
    

}
.Extras{


  
  display: flex;
  width: 600px;
  justify-content:space-between;
  flex-wrap: wrap;

}
button{
  border: 2px solid black;
  margin-left: 10px;
  box-shadow: 10px 10px black;

}
.div{
  background-color:grey ;
  transition: border-radius 2s;
  border-radius:20%;
  box-shadow: 20px 20px black;
  cursor: pointer;

}